<div [attr.id]="_id" class="modal" style="width: 40%;">
  <form #f="form" (submit)='signIn(f.value)'>
    <div class="modal-content">
      <h4>Login</h4>
      <div class="input-field">
        <input ng-control="username" type="text" id="login">
        <label for="login" style="left: 0px;">Login</label>
      </div>
      <div class="input-field">
        <input ng-control="password" type="password" id="password">
        <label for="password" style="left: 0px;">Password</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class=" modal-action modal-close waves-effect waves-purlple btn-flat">OK</a>
    </div>
  </form>
</div>