<nav class="purple darken-3">
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li *ng-if=" connected"><a (click)="signOut()">Sign Out</a></li>
    <li *ng-if="!connected"><a (click)="signUp()">Sign Up</a> </li>
    <li *ng-if="!connected"><a (click)="signIn()">Sign In</a> </li>
  </ul>
  <ul id="slide-out" class="side-nav fixed">
    <div class="waf purple darken-3">Test site</div>
    <ng-content></ng-content>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<!-- Modal Structure -->
<login-popup _id="login-popup"></login-popup>
<login-popup _id="signup-popup" signup="true"></login-popup>
