<agenda (event-change)="log($event)">
    <calendar-event *ng-for="#box of boxes" [cal-event]="box"
    [_id]="box.id" [title]="box.title" [start]="box.start" [end]="box.end"></calendar-event>
</agenda>
<!-- (drag-over)="setTargetPosition($event)" (drop)="ondrop($event)"
<div class="row">
    <div class="col s1" style="padding: 0px;">
        <div [ng-grid]="{'margins': [0, 0], 'min_cols': 1, 'max_cols': 1, 'min_height': 15, 
                 'col_width': 50, 'row_height':7, 'cascade':'none', 'auto-resize': false}" style="width:50px">
            <div [ng-grid-item]="{'col':1, 'row':6, 'sizex': 1, 'sizey':1, 'draggable':false, 'resizable':false, 'fixed':true}">
                <div class="grid-item caption">8:15</div>
            </div>
            <div [ng-grid-item]="{'col':1, 'row':120, 'sizex': 1, 'sizey':1, 'draggable':false, 'resizable':false, 'fixed':true}">
                <div class="grid-item caption">18:00</div>
            </div>
        </div>
    </div>
    <div class="col s11" style="padding: 0px;">
    </div>
</div>
    <div [ng-grid-item]="{'col':2, 'row':1, 'sizex': 1, 'sizey':3, 'draggable':false, 'resizable':false}">
        <div class="grid-item title">Lundi</div>
    </div>
    <div [ng-grid-item]="{'col':3, 'row':1, 'sizex': 1, 'sizey':3, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item title">Mardi</div>
    </div>
    <div [ng-grid-item]="{'col':4, 'row':1, 'sizex': 1, 'sizey':3, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item title">Mercredi</div>
    </div>
    <div [ng-grid-item]="{'col':5, 'row':1, 'sizex': 1, 'sizey':3, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item title">Jeudi</div>
    </div>
    <div [ng-grid-item]="{'col':6, 'row':1, 'sizex': 1, 'sizey':3, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item title">Vendredi</div>
    </div>
    <div [ng-grid-item]="{'col':1, 'row':3, 'sizex': 1, 'sizey':1, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item caption">8:00</div>
    </div>
    <div [ng-grid-item]="{'col':1, 'row':6, 'sizex': 1, 'sizey':1, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item caption">8:15</div>
    </div>
    <div [ng-grid-item]="{'col':1, 'row':120, 'sizex': 1, 'sizey':1, 'draggable':false, 'resizable':false, 'fixed':true}">
        <div class="grid-item caption">18:00</div>
    </div>
         (^dragStart)="log('dragStart')" 
         (drag)="log('drag')" 
         (^dragStop)="log('dragStop')" 
         (resizeStart)="log('resizeStart')" 
         (resize)="log('resize')" 
         (resizeStop)="log('resizeStop')" 
         (^itemChange)="log('itemChange')" 
        <div class="grid-item title">{{box.title}}</div>
    -->