<h4>Number of todos : {{todos.length}}</h4>
<form #f="form" (submit)='addTodo(f.value)' class="col s12">
  <div class="row valign-wrapper">
    <div class="input-field col s5">
      <input ng-control="todoText" type="text" id="newtask">
      <label for="newtask">New task description</label>
    </div>
    <div class="valign">
      <md-button>Create</md-button>
    </div>
  </div>
</form>
<div class="col s12">
  <todos-list [todos]="todos" (update)="updateTodo($event)" (remove)="removeTodo($event)"></todos-list>
</div>