<h4>Number of todos : {{todos.length}}</h4>
<form #f="ngForm" (submit)='addTodo(f.value)' class="col s12">
  <div class="row valign-wrapper">
    <div class="input-field col s5">
      <input ngControl="todoText" type="text" id="newtask">
      <label for="newtask">New task description</label>
    </div>
    <div class="valign">
      <md-button>Create</md-button>
    </div>
  </div>
</form>
<div class="col s12">
  <div *ngFor="#todo of todos">
    <md-checkbox [checked]="todo.done==true" (click)="toggleCompletion({'id': todo.id, 'done':!todo.done})" [_id]="todo.id" [uid]="todo.id">{{todo.title}}</md-checkbox>
    <a class="tiny material-icons" (click)="removeTodo(todo.id)">delete</a>
  </div>
</div>
