.sample-app-content {
  font-family: Verdana;
}
.sample-app-content h1 {
  color: #999;
  font-size: 3em;
}
.sample-app-content h2 {
  color: #990000;
  font-size: 2em;
}
.sample-app-content p,
.sample-app-content nav {
  padding: 30px;
}
.sample-app-content li,
.sample-app-content p {
  font-size: 1.2em;
}
.sample-app-content li {
  font-family: Consolas;
}
.sample-app-content nav a {
  display: inline-block;
  margin-right: 15px;
}
.sample-app-content input,
.sample-app-content button {
  padding: 5px;
  font-size: 1em;
  outline: none;
}
header, main, footer {
  padding-left: 140px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.waf {
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #6a1b9a;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #6a1b9a;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #6a1b9a;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #6a1b9a;
     box-shadow: 0 1px 0 0 #6a1b9a;
   }
   
   [type="checkbox"]:checked + label:before {
     border-right: 2px solid #ab47bc;
     border-bottom: 2px solid #ab47bc;
   }
   [type="checkbox"].filled-in:checked + label:after {
     border: 2px solid #ab47bc;
     background-color: #ab47bc;
   }
   
.grid {
	background-color: #efefef;
}

.grid-item {
	background-color: #fff;
	-webkit-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-moz-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-o-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
}

.grid-item:active, .grid-item.moving {
	z-index: 2;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.grid-item.title {
  color: #fff;
	background-color: #ab47bc;
  text-align: center;
  text-transform: capitalize;
}

.grid-placeholder {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
	.grid {
		width: 100% !important;
		height: auto !important;
		padding: 10px;
	}
	.grid-item {
		position: static !important;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.grid-item:last-child {
		margin-bottom: 0;
	}
}
