<div class="row">
	<div class="col s1" style="padding: 0px;padding-top: 11px">
		<div [ngGrid]="_timelineConfig">
			<div *ngFor="#event of _timelineItems" [ngGridItem]="event.settings" class="grid-item caption">
				<div>{{event.time | rowToDate:5:_startDate}}</div>
			</div>
		</div>
	</div>
	<div class="col s11" style="padding: 0px;">
		<div [ngGrid]="_titleConfig">
			<div *ngFor="#event of _titles" [ngGridItem]="event.settings">
				<div class="grid-item title">{{event.title}}</div>
			</div>
		</div>
		<div [ngGrid]="_eventTableConfig" (dragOver)="setTargetPosition($event)" (drop)="onDrop($event)">
			<div *ngFor="#event of _eventTableItems" [ngGridItem]="event.settings" (itemChange)="onChange(event, $event)"
				 (dragStart)="dragStart(event)" (dragStop)="dragStop(event)" (resizeStart)="resizeStart(event)" (resizeStop)="resizeStop(event)">
				<span *ngIf="event.settings.show_hours" class="grid-item title start">{{event.settings.row | rowToDate:5:_startDate}}</span>
				<div *ngIf="event.title" class="grid-item title teal">{{event.title}}</div>
				<span *ngIf="event.settings.show_hours" class="grid-item title end">{{event.settings.row + event.settings.sizey | rowToDate:5:_startDate}}</span>
			</div>
		</div>
		<div class="grid-item title orange" draggable="true" (ondragstart)="onDragStart($event)" style="width:130px">DRAG</div>
	</div>
</div>